@import "tailwindcss";
body{
    font-family: 'Montserrat', sans-serif;
}

.testimonials-slider .slick-track {
  display: flex !important;
}

.testimonials-slider .slick-slide {
  height: auto !important;
  display: flex !important;
}

.testimonials-slider .slick-slide > div {
  display: flex;
  width: 100%;
}

/*  Offer Component css */

.marquee-container {
  overflow: hidden;
  
  background: white;
  padding: 10px ;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 12s linear infinite;  
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0 50px;
  font-weight: 600;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}